<!-- templates/admin_view_tickets.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tickets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <style>
        /* Custom CSS for thicker table lines */
        table.table {
            width: 100%;
            /* Adjust the width as needed */
        }

        table.table th,
        table.table td {
            border: 2px solid #cc2e3e;
            border-radius: 30px;
            color: #ddd;
            font-size: small;
        }
    </style>
</head>

<body>
    {% include 'menu2.html' %}

    <br>
    <h1>Admin View Tickets</h1>
    <br>
    <p>Here are all the tickets:</p>
    <br>
    {% if all_tickets %}
    <table class="table">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>User</th>
                <th>Department</th>
                <th>Theater</th>
                <th>Country</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Best Method</th>
                <th>Severity</th>
                <th>Technology</th>
                <th>Description</th>
                <th>Status</th>
                <th>Date Updated</th>
                <th>Time Updated</th>
                <th>Edit</th> <!-- New column for edit action -->
                <th>Delete</th> <!-- New column for delete action -->
            </tr>
        </thead>
        <tbody>
            {% for ticket in all_tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.user.username }}</td>
                <td>{{ ticket.department|title }}</td>
                <td>{{ ticket.theater|upper }}</td>
                <td>{{ ticket.country|camel_to_title_case }}</td>
                <td>{{ ticket.phone_number }}</td>
                <td>{{ ticket.email }}</td>
                <td>{{ ticket.best_method|camel_to_title_case }}</td>
                <td>{{ ticket.severity }}</td>
                <td>{{ ticket.technology|camel_to_title_case }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.status|upper }}</td>
                <td>{{ ticket.updated_at.strftime('%d-%m-%Y %H:%M:%S')[0:10] }}</td>
                <td>{{ ticket.updated_at.strftime('%Y-%m-%d %H:%M:%S')[11:19] }}</td>
                <td>
                    <a href="/dashboard/edit_ticket/{{ ticket.id }}" class="edit-delete-link">
                        <img src="/static/images/edit_icon.png" alt="Edit Icon">
                    </a>
                </td>
                <td>
                    <a href="/admin/delete_ticket/{{ ticket.id }}" class="edit-delete-link"
                        onclick="return confirm('Are you sure you want to delete this ticket?');">
                        <img src="/static/images/bin_icon.png" alt="Delete Icon" class="edit-icon">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No tickets found.</p>
    {% endif %}

    <!-- Optional: Add Bootstrap JS and jQuery for menu functionality -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>