/* styles.css */

body {
    font-family: Arial, sans-serif;
    color: lightgray;
    margin: 5px;
    padding: 5px;
    background-color: #1d1b1f;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.menu,
.menu2 {
    background-color: #f5b92e;
    color: #561331;
    overflow: hidden;
    border-radius: 20px;
}

.menu {
    max-width: 429.5px;
    margin: 0 auto;
}

.menu2 {
    max-width: 680px;
    margin: 0 auto;
}

.menu a,
.menu2 a {
    float: left;
    color: #561331;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover,
.menu2 a:hover {
    color: #f5b92e;
    background-color: #851234;
    text-decoration: none;
}

a,
.btn-link,
button {
    color: #f5b92e;
    /* Yellow color hex code */
}

a:hover,
.btn-link:hover,
button:hover {
    color: #f5b92e;
    background-color: #cc2e3e;
    text-decoration: none;
}

h1,
.btn-link:not(.logout-button):hover {
    font-weight: bolder;
}

.submitbutton {
    color: white;
    font-weight: bold;
    background-color: #cc2e3e;
    margin-top: 4px;
    margin-left: 12px;
    padding: 6px 20px;
    border-radius: 10px;
    /* Adjust this value as needed */
}

textarea,
select,
input {
    font-weight: bolder;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: lightgray;
}

textarea:hover,
select:hover,
input:hover {
    background-color: lightslategray;
    color: white;
}

button {
    background-color: #851234;
    margin-top: 6px;
    margin-left: 8px;
    padding-right: 26px;
    padding-left: 26px;
    padding-top: 6px;
    padding-bottom: 3px;
    border-radius: 16px;
    font-weight: bolder;
    border-color: white;
    border-width: 3px;
    color: white;
}

button:hover {
    background-color: #cc2e3e;
    border-color: lightgray;
    color: lightgray;

}

textarea {
    width: 1000px;
    height: 100px;
}

.textlink {
    font-weight: normal;
}

.btn.btn-link:hover,
.textlink:hover {
    background-color: transparent !important;
    font-weight: bolder;
}

.delete_icon {
    width: 20px;
    /* Adjust the width to your preference */
    height: auto;
    /* Maintain aspect ratio */
}

/* Add this CSS to style the login and register buttons */
.yellow-button {
    color: #561331;
    background-color: #f5b92e;
    border-width: 2px;
    border-color: #851234;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s, color 0.3s;
}

.yellow-button:hover {
    background-color: #851234;
    /* Hover background color */
    color: #f5b92e;
    border-color: #f5b92e;
    border-width: 2px;
    /* Hover text color */
}

select,
input {
    width: 250px;
    height: 40px;
}

.edit-delete-link img {
    width: 30px;
    height: auto;
}

.edit-delete-link img:hover {
    background-color: #cc2e3e;
    border-radius: 2px;
    border: 2px
}

.faqtitle {
    color: lightgray;
}

.create-ticket-form {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #cc2e3e;
    border-radius: 10px;
}