/* styles.css */

body {
    font-family: Arial, sans-serif;
    color: #ddd;
    margin: 5px;
    padding: 5px;
    background-color: #1d1b1f;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    background-color: #f5b92e;
    color: #561331;
    overflow: hidden;
    border-radius: 20px;
    max-width: 440px;
}

.menu a {
    float: left;
    color: #561331;
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    color: #f5b92e;
    background-color: #851234;
    text-decoration: none;
}

.menu2 {
    background-color: #f5b92e;
    color: #561331;
    overflow: hidden;
    border-radius: 20px;
    max-width: 660px;
}

.menu2 a {
    float: left;
    color: #561331;
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu2 a:hover {
    color: #f5b92e;
    background-color: #851234;
    text-decoration: none;
}

a {
    color: #f5b92e;
    /* Yellow color hex code */
}

.btn-link:not(.logout-button) {
    color: #f5b92e;
}

.btn-link:not(.logout-button):hover {
    color: white;
    text-decoration: none;
}

.logout-button {
    color: white;
    font-weight: bold;
    background-color: #561331;
    margin-top: 6px;
    margin-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    /* Adjust this value as needed */
}

.logout-button:hover {
    background-color: #cc2e3e;
    color: #f5b92e;
    text-decoration: none;
}

/* Optional: Add custom styles for FAQs */
.faq-item {
    margin-bottom: 20px;
}

.faq-item p {
    margin-top: 10px;
}