<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .error-messages {
            color: red;
        }
    </style>
</head>

<body>
    {% include 'menu.html' %}
    <br>
    <h1>Login</h1>
    <br>
    <form method="POST" action="{{ url_for('login') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        {% if not login_successful %}
        <div class="error-messages">
            {% for message in get_flashed_messages(category_filter='error') %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <p>Don't have an account? <a href="/register" class="textlink">Register here</a>.</p>
        <button type="submit" class="yellow-button">Login</button>
    </form>


    <!-- Link Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>