<!-- login_confirmation.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    {% include 'menu2.html' %}

    {% if current_user.is_authenticated %}
    <br>
    <h1>Login Successful</h1>
    <br>
    <p>Welcome back, {{ current_user.username }}!</p>
    {% if current_user.is_admin %}
    <p>You have logged in as an admin.</p>
    {% endif %}
    <a href="{{ url_for('view_tickets') }}" class="textlink">View your tickets</a>
    {% else %}
    <p>You are not logged in.</p>
    {% endif %}
</body>

</html>