<!-- menu2.html -->
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav>
        <a href="/dashboard/overview">Overview</a>
        <a href="/dashboard/view_tickets">View Tickets</a>
        <a href="/dashboard/create_ticket">Create Ticket</a>
        <a href="/contact">Contact Us</a>
        <a href="/faq">FAQ</a>
        {% include 'logout_button.html' %}
    </nav>
</body>

</html>