<!-- edit_confirmation.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    {% include 'menu2.html' %}
    {% if current_user.is_authenticated and current_user.is_admin %}
    <p>You are currently in standard user mode. Want to return to admin mode? <a
            href="{{ url_for('admin_dashboard') }}">Click here</a>.</p>
    {% endif %}

    <br>
    <h1>Successfully Updated!</h1>
    <br>
    Your ticket has been updated successfully!<br><br> Want to see your tickets? <a href="{{ url_for('view_tickets') }}"
        class="textlink">View existing tickets here</a>
    <br><br>
    Have another issue? <a href="{{ url_for('create_ticket') }}" class="textlink">Create another ticket here</a>
</body>

</html>