<!-- edit_confirmation.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    {% include 'menu2.html' %}

    <br>
    <h1>Edit Confirmation</h1>
    <br>
    <p>Your ticket has been updated successfully!</p>
    <a href="{{ url_for('view_tickets') }}" class="textlink">Back to Tickets</a>
</body>

</html>